<div *ngIf="ricetta; else ricetta_non_trovata">
  <div class="image" [ngStyle]="{'background-image': 'url(' + ricetta.image + ')'}"></div>
  <div>
    <h2 class="title">{{ricetta.title}}</h2>
    <p class="description">
      <span [innerHTML]="ricetta.description"></span>
    </p>
    <div class="row">
      <h5 style="padding-top: 20px; font-weight: 900;">Difficoltà: {{ricetta.difficulty}}</h5>
    <img [src]="percorsoStelline + ricetta.difficulty + '.png'" class="difficoltà" alt="">
    </div>
    <p class="data">Ricetta pubblicata il {{ricetta.createdAt | date}}</p>
  </div>
</div>


<ng-template #ricetta_non_trovata>
  <h2>Ricetta non disponibile</h2>
</ng-template>
