// primary colors
$primary-color-1: #8e210b;
$primary-color-2: #dc553a;
$primary-color-3: yellow;

// secondary colors
$secondary-color-1: white;
$secondary-color-2: rgb(170, 170, 170);
$secondary-color-3: rgb(66, 66, 66);
$secondary-color-4: rgb(0, 0, 0);
