<app-header></app-header>
<app-home></app-home>

<!-- <br>
<input type="text" [(ngModel)]="coloreScelto"><button (click)="cambiaBG()">Cambia</button>
<div id="contenitore-switch" [ngSwitch]="colore">
  <div class="verde" *ngSwitchCase="'green'">Questo div compare solo se il colore è VERDE</div>
  <div class="rosso" *ngSwitchCase="'red'">Questo div compare solo se il colore è ROSSO</div>
  <div class="blu" *ngSwitchCase="'blue'">Questo div compare solo se il colore è BLU</div>
  <div class="default" *ngSwitchDefault>Questo div compare solo se il colore non è stato scelto</div>
</div> -->

<router-outlet></router-outlet>
